.bg-gray-100 {
  background-color: $gray-100;
}

.bg-gray-200 {
  background-color: $gray-200;
}

.bg-blue-100 {
  background-color: $blue-100;
}

.bg-purple-100 {
  background-color: $purple-100;
}

.bg-green-100 {
  background-color: $green-100;
}

.text-gray-600 {
  color: $gray-600;
}

.hover-pointer:hover {
  cursor: pointer;
}
